{{> head }}

{{> navbar }}

<div class="container">
    <div class="row">
        <div class="col-7">
            <h1>Back to the Future</h1>
            <p>
                Sunt adipisicing anim occaecat occaecat enim qui nisi velit. Veniam deserunt exercitation eu amet in velit dolor cillum laboris quis tempor. Nulla irure magna Lorem fugiat ea nulla quis proident in nisi proident. Dolore laboris laboris fugiat minim pariatur. Labore aute nulla commodo reprehenderit magna tempor. Amet esse duis est exercitation et ullamco in est. Nulla anim ex sunt ex non enim nostrud ipsum nisi aute aliqua duis dolore culpa.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/thumbnail.jpg" class="img-thumbnail">  
        </div>
    </div>
</div>


{{> footer }}